<br>
<br>
<div class="col-xs-8 col-xs-offset-2">
    <button class="btn btn-primary" onclick="goBack()">Go Back</button>
    <a href="/trip/display" class="btn btn-btn-warning">Find Your Trips</a>
</div>



<script>
function goBack() {
    window.history.back();
}
</script>