<br>
<br>
<br>
<div class="col-sm-offset-1 col-sm-10">
<div class="row">
{{#destination}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../image/{{this.city}}.jpg" alt={{this.city}}>
      <div class="caption">
        <a href="/lookAround/{{this.city}}"><h3>{{this.city}}</h3></a>
      </div>
    </div>
  </div>
  {{/destination}}
</div>
</div>